*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Playfair Display', serif;
overflow-x:hidden;
}

/* HERO */
.hero{
height:100vh;
width:100%;
background-image:url("../img/fondos/fondoArte.jpg");
background-size:cover;
background-position:center;
position:relative;
display:flex;
align-items:center;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;

background:linear-gradient(
90deg,
rgba(0,0,0,0.75) 0%,
rgba(0,0,0,0.5) 40%,
rgba(44, 44, 44, 0.45) 75%,
rgba(41, 40, 41, 0.7) 100%
);
}

/* texto */
.texto img{
width:670px;
max-width:90%;
filter:drop-shadow(0px 5px 10px rgba(0,0,0,0.5));
}

/* Galeria */
section .galeria{
    display: flex;
    width: 800px;
    height: 430px;
    margin-left: 70px;
}

section .galeria img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section .galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

